{% extends 'base.html.twig' %}

{% block title %}Ajout un nouveau Produit{% endblock %}
 {% block bouton%}
     <a class="btn btn-primary text-white" href="{{ path('app_produit_index') }}">Retour</a>
 {% endblock%}
 {% block breadcrumb%}
     Ajout un produit
 {% endblock%}

{% block body %}

            {{ include('produit/_form.html.twig') }}



{% endblock %}
